{% extends "auctions/layout.html" %}

{% block body %}
<div class="page-main">
    <h2 class="page-title">Creating Listing</h2>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="field_description">
                <span><label for="title">*Title:</label></span>
            </div>
            <div class="input_field big">
                <input type="text" id="title" name="title" required="required">
            </div>
        </div>
        <hr>
        <div class="field">
            <div class="field_description">
                <span><label for="description">*Description:</label></span>
            </div>
            <div class="input_field">
                <textarea type="text" id="description" name="description" required="required"></textarea>
            </div>
        </div>
        <hr>
        <div class="field">
            <div class="field_description">
                <span><label for="starting_bid">*Price:</label></span>
            </div>
            <div class="input_field small">
                <input type="number" step="0.01" id="starting_bid" name="starting_bid" required="required">
            </div>
        </div>
        <hr>
        <div class="field">
            <div class="field_description">
                <span><label for="image">Image:</label></span>
            </div>
            <div class="input_field big">
                <input type="url" id="image" name="image">
            </div>
        </div>
        <hr>
        <div class="field">
            <div class="field_description">
                <span><label for="category">Category:</label></span>
            </div>
            <div class="input_field">
                <select name="category" id="category">
                    <option value="2">--Please choose an option--</option>
                    {% for c in categories %}
                        <option value="2">{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr>
        <div class="submit_listing_container">
            <input class="round-button" type="submit" id="submit" name="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}